[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
arrow = "*"
psycopg2 = "*"
numpy = "*"
pandas = "==0.25"

[requires]
python_version = "3.7"
